table {
  border-spacing: 8px 12px;
}

input {
  border-style: double;
  width: 150px;
  font-size: 16px;
  padding: 4px 8px;
}

label {
  font-size: 20px;
}

.button-group {
  padding-top: 15px;
}

button {
  background-color: darkcyan;
  padding: 12px 24px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  margin-right: 12px;
  cursor: pointer;
  border: 1px solid #005f5f;
  min-width: 55px;
}

button:hover {
  background-color: #006666;
}
